{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gameobjectscore</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gameObjectScore.id }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ gameObjectScore.score }}</td>
            </tr>
            <tr>
                <th>Multiplicator</th>
                <td>{{ gameObjectScore.multiplicator }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gameobjectscore_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
