{% extends '@AdminAdmin/base.html.twig' %}

{% block body %}
    <h1>{{ category.name|capitalize }}</h1>
    <p>{{ category.description|capitalize }}</p>

    <hr>

    {% for gameObject in category.gameObjects() %}
        <div>
            <h2>{{ gameObject.name|capitalize }}</h2>
            <p>{{ gameObject.description|capitalize }}</p>
        </div>
    {% endfor %}
{% endblock %}
